/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Nunito", sans-serif;
    /*Heading, logos, navigation*/
    --secondary-font: "Lora", serif;
    --primary-color: #3B993A;
    /* Apple Green - Heading, logos, navigation*/
    --secondary-color: #88BA81;
    /* Olive Green */
    --highlight-color: #43878A;
    /* Faded Jade */
    --highlight-color-light: #7a9fc2;
    /*Light Blue*/

}



/* Circle that take up 50% with a white colour gradually going to background colour*/

body {
    /* color: var(--primary-color); */
    font-family: var(--primary-font);
    background: radial-gradient(circle, white 50%, #dbffe0 100%);
}


h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}



/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
    
    margin-left: 10px;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

/* Navigation styling */
nav { 
    /* Linear-gradient, Defines a gradient top to bottom */
    background: linear-gradient(to bottom, #bcf1ff, white);

    /* Bottom soft shadow for asthetics seprating nav from body */
    /* 0 Horizontal offset (0 = shadow is centered horizontally accross the vavBar) */
    /* 2px → Vertical offset (2px below the element) */
    /* 10px → Blur radius to softens the shadow edges) */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  
}

/* Gives the active page on the nav an underline */

.navbar-nav .nav-link.active {
    text-decoration: underline;
    color: var(--primary-color);
}
.navbar-nav .nav-link {
  font-size: 1.25rem; 
  font-weight: 600;   
}


.container {
    padding-right: 15px;
}


/*Media quries for greater control at different resolutions */

@media (min-width: 768px) {

   
}


